h1 {
  color: #6d1b7b;
  margin: 0px;
}

.fan-image {
  height: 200px;
  width: 100%;
  object-fit: cover;
  border-radius: 16px;
}

.btn-container {
  margin-top: 8px;
}

.status-container {
  display: flex;
  justify-content: space-between;
  gap: 8px;
  margin-top: 16px;
  margin-bottom: 16px;
}

.status-container p {
  margin: 0px;
}
