body {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#game-board {
  padding: 16px;
  background-color: #6a1b9a;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 8px;
}

.game-tile {
  height: 100px;
  width: 100px;
  background-color: #ffe082;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}

.game-tile:hover {
  background-color: #ffd54f;
}

#output {
  font-size: 3rem;
  display: none;
}

#reset-btn {
  display: none;
}
