* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

/* width */
::-webkit-scrollbar {
  width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #bdbdbd;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #424242;
  cursor: pointer;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #212121;
}

/* Generic */

.my-input {
  padding: 8px 16px;
  border-radius: 32px;
  border: solid 1px #bdbdbd;
  font-size: 1rem;
  height: 40px;
}

.my-input:focus {
  outline: solid 2px #bdbdbd;
  outline-offset: -2px;
}

/* End Generic */

/* Navbar */

.navbar {
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 24px 32px;
  background-color: #eeeeee;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.logo-container {
  display: flex;
  align-items: center;
  gap: 8px;
  flex-grow: 1;
}

.logo-img {
  width: 55px !important;
  height: 55px !important;
}
.company-name {
}

.search-container {
  flex-grow: 1;
  display: flex;
  position: relative;
}

.search-input {
  width: 100%;
  padding-right: 120px;
}

.btn {
  border: none;
  background-color: #ffb300;
  padding: 8px 16px;
  border-radius: 32px;
  cursor: pointer;
}

.btn:hover {
  background-color: #ff8f00;
}

.search-btn {
  width: 120px !important;
  padding: 8px 16px;
  position: absolute;
  height: 40px;
  right: 0;
}

/* End Navbar */

/* Add Task Bar */

.tasks-section {
  padding: 32px;
}

.add-task-container {
  display: flex;
  justify-content: center;
  gap: 8px;
}

.task-input {
  width: 50%;
}

/* End Task Bar */

/* Tasks Container */

.tasks-container {
  margin-top: 32px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 16px;
}

.task-card {
  background-color: #eeeeee;
  border: solid 1px #bdbdbd;
  padding: 16px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.task-desc {
  max-height: 200px;
  overflow: auto;
  flex-grow: 1;
}

.task-card-actions {
  display: flex;
  justify-content: flex-end;
  gap: 8px;
}

.action-btn {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  border: none;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.edit-action {
  background-color: #1e88e5;
}

.delete-action {
  background-color: #e53935;
}

.save-action {
  background-color: #43a047;
  color: white;
  font-size: 1rem;
}

.edit-action:hover {
  background-color: #2979ff;
}

.delete-action:hover {
  background-color: #c62828;
}

.save-action:hover {
  background-color: #2e7d32;
}

/* End Tasks Container */

/* Priority Classes */

.priority-a {
  background-color: #ffcdd2;
}
.priority-b {
  background-color: #ffecb3;
}
.priority-c {
  background-color: #d1c4e9;
}
.priority-d {
  background-color: #bbdefb;
}

/* End Priority Classes */

.transparent-input {
  padding: 4px 0px;
  background-color: transparent;
  border: none;
  border-bottom: solid 1px #757575;
}

.transparent-input:focus {
  outline: none;
  border-bottom: solid 2px #424242;
}

select {
  flex-shrink: 0;
}
