.add-fruit-form {
  display: flex;
  gap: 8px;
}

#fruits-list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin-top: 16px;
}

.fruit {
  background-color: #ffa407a6;
  padding: 8px;
  border-radius: 8px;
  /* background-color: ; */
}
