* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

button {
  background-color: brown;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 32px;
  cursor: pointer;
}

button:hover {
  background-color: rgb(100, 25, 25);
}

nav {
  background-color: brown;
  color: white;
  padding: 16px 32px;
  text-align: center;
}

nav h1 {
  font-size: 2rem;
}

#addTaskForm {
  background-color: burlywood;
  padding: 32px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

#addTaskForm input,
#addTaskForm textarea {
  padding: 8px 16px;
  border-radius: 8px;
  border: none;
}

#cardsContainer {
  padding: 32px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 16px;
}

.card {
  background-color: rgba(165, 42, 42, 0.2);
  padding: 16px;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.cardCompleted {
  background-color: rgba(0, 145, 70, 0.2);
  padding: 16px;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.completedBtn {
  background-color: rgb(1, 156, 68);
}

.completedBtn:hover {
  background-color: rgb(0, 114, 50);
}

.card p {
  flex-grow: 1;
}

footer {
  padding: 16px 32px;
  background-color: #212121;
  color: white;
  text-align: center;
}
