.btn-container {
  display: flex;
  align-items: center;
  gap: 8px;
}

.btn-container button {
  height: 80px;
  width: 80px;
  border-radius: 50%;
  font-size: 2rem;
}

#output {
  text-align: center;
}

#score {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}
