1. Make an input bar with add task button. 
    1. The input bar shoud have the ability to select priority.
    2. On add btn click add the task to local storage and then show it in the list.

2. Create a list to display task.

3. Create task card.
    1. It should have a title and task. 
    2. It should have buttons (edit, delete)

4. Should be able to add note or list both.

5. Make a searchbar to search notes by title.
