* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

a {
  font-size: 1rem;
}

h1 {
  font-size: 2rem;
}

button {
  padding: 8px 12px;
  border: none;
  background-color: #1de9b6;
  border-radius: 32px;
  cursor: pointer;
}

button:hover {
  background-color: #00bfa5;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 32px;
  background-color: #673ab7;
  color: white;
  position: relative;
}

#nav-links {
  list-style-type: none;
  display: flex;
  gap: 32px;
  margin: 0px;
}

#nav-links li a {
  text-decoration: none;
  color: white;
}

#nav-links li a:hover {
  text-decoration: underline;
}

#menu-btn {
  display: none;
}

#row {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#row div:first-child {
  width: 100%;
  height: 400px;
  overflow: hidden;
}

#row div:first-child img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#row div:last-child {
  display: flex;
  flex-direction: column;
  padding: 32px;
  gap: 16px;
  background-color: #ede7f6;
}

@media screen and (max-width: 600px) {
  #nav-links {
    display: none;
    flex-direction: column;
    gap: 16px;
    position: absolute;
    background-color: #b39ddb;
    top: 69px;
    left: 0px;
    right: 0px;
    padding: 16px;
  }

  #menu-btn {
    display: block;
  }

  #row {
    grid-template-columns: 1fr;
  }
}
