#inventory-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 32px;
}

#inventory-form input,
#inventory-form textarea {
  padding: 8px;
  font-size: 1rem;
}

.form-field {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.form-field-group {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
}
