.containerOuter {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.containerInner {
  background-color: bisque;
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 32px;
  border-radius: 16px;
}

#btn {
  margin-top: 16px;
}

#resetBtn {
  display: none;
}
